body {
  background-color:yellow;}
  
h1 {
  color:blue;
  font-family:helvetica; 
  background-color: pink; 
  border: 5px solid red;
  }

p { color:pink; background-color: white;}

h3 {
color:purple;
}

